
$primary: #E5C687;
$secondary: #BCB382;
$tertiary: #2D4739;
$dark: #262628;
$black: #121619;
$font-family-sans-serif:"Chakra Petch", sans-serif !default;
$font-family-serif: "Afacad", serif !default;

@import "../node_modules/bootstrap/scss/bootstrap.scss";