@import url("/node_modules/bootstrap-icons/font/bootstrap-icons.css");
@import 'custom';

html, body {
    position: relative;
    min-height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

button{
    font-family: "Afacad";
    font-size: 1.5rem;
    display: block;
    font-weight: 500;
    text-align: center;
    background-color: #BCB382;
    color:black;
    border-radius: 20px;
    margin: 10px auto;
    padding: 10px;
}

.content{flex: 1;}

button:hover{
    background-color: #E5C687;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #262628;
    font-family: "Afacad", serif;
    color: white;
    width: 100%;
    min-height: 100vh;
}


.nav-link {
    font-size: 20px;
}

footer.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: 10px;
}

h1 {
    font-family: "Chakra Petch";
    margin-top: 10px;
    text-align: center;
    font-weight: bold;
    color: #E5C687;
}

/* Accueil */
.container {
    flex: 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 20px;
    width: 100%;
    max-width: 100%;
    margin: 0;
}

@media screen and (max-width: 768px) {
    .container {
        grid-template-columns: 1fr;
        gap: 10px;
        width: 100%;
        padding: 0;
        margin: 0;
    }

    .left, .right {
        margin: 0;
        padding: 0;
        width: 100%;
        border-radius: 0;
    }

    .text-block, .right {
        padding: 0;
        border-radius: 0;
        width: 100%;
    }

    .carousel-block {
        padding: 0;
        width: 100%;
    }

    .carousel img {
        width: 100%;
        border-radius: 0;
    }
}

.left {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.text-block, .right {
    padding: 20px;
    border-radius: 5px;
    width: 100%;
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.3);
    position: relative;
    overflow: hidden;
}

.text-block {
    background-image: url(../Images/pexels-lanophotography-194511.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
}

.text-block::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    mix-blend-mode: darken;
    z-index: 1;
}

.text-block p {
    text-align: center;
    font-size: 24px;
    position: relative;
    z-index: 2;
}

.carousel-block {
    padding: 0px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.3);
}

.carousel img {
    width: 100%;
    display: block;
    border-radius: 5px;
}

.right {
    background-image: url(../Images/green-1757807_1280.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
}

.right::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    mix-blend-mode: multiply;
    z-index: 1;
}

.right * {
    position: relative;
    z-index: 2;
    color: white;
}

.event-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.event {
    background-color: #BCB382;
    color: black;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    font-size: 18px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

/* Liste évènement */
label {
    display: block;
    font-size: 1.5rem;
    color: #E5C687;
    padding: 0.1rem;
    margin-bottom: 0;
}

input {
    padding: 10px;
    height: 3rem;
    margin-bottom: 20px;
    width: 300px;
    max-width: 20rem;
    min-width: 5rem;
    background-color: #121619;
    color: whitesmoke;
    font-size: 1.5rem;
    border-radius: 5px;
    border: solid white 1px;
}

input[type="date"]::-webkit-calendar-picker-indicator,
input[type="time"]::-webkit-calendar-picker-indicator {
    background-color: #E5C687;
    border: none;
    padding: 0.3rem;
    border-radius: 5px;
}

.form-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    width: 100%;
    padding: 30px;
}

@media (max-width: 768px) {
    .form-container {
        grid-template-columns: 1fr;
        justify-items: center;
        width: 100%;
        margin: auto;
    }

    label {
        margin-bottom: 0;
        margin-left: 1rem;
        text-align: left;
    }

    input {
        margin-left: 0;
        margin-right: 0;
        width: 20rem;  
    }
}

.container-event {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.card {
    width: 300px;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card-content {
    padding: 10px;
}

.card-content h3 {
    font-size: 18px;
    margin: 0;
}

.card-content p {
    margin: 5px 0;
}

.card-content button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    text-align: left;
    max-width: 500px;
    width: 90%;
    position: relative;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 18px;
    cursor: pointer;
}

/* Connexion */
.container-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    padding: 20px;
    margin-top: 10px;
    height: 100%;
    gap: 20px;
}

.container-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 5px;
    width: 100%;
    height: 80vh;
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.3);
}

.container-right{
    overflow: hidden;
    padding: 0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.3);
}
.container-right img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    object-fit: cover;
}

input[type="password"],input[type="email"] {   
    padding: 10px;
    height: 3rem;
    margin-bottom: 20px;
    width: 250px;
    max-width: 20rem;
    min-width: 5rem;
    background-color: #121619;
    color: whitesmoke;
    font-size: 1.5rem;
    border-radius: 5px;
    border: solid white 1px;
}

input[type="email"]::placeholder{
    color: whitesmoke;
}
@media screen and (max-width: 768px) {
    .container-form {
        grid-template-columns: 1fr;
        gap: 10px;
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;
    }

    .container-right{
        display: none; 
    }
}

/* Gestion du compte */
.container-account {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    padding: 20px;
    margin-top: 10px;
    height: 100%;
    gap: 20px;
}
.container-right-account{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 5px;
    width: 100%;
    height: 80vh;
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.3);
}
.container-right-account form div {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container-left-account{
    overflow: hidden;
    height: 80vh;
    padding: 0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.3);
}
.container-left-account img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    object-fit: cover;
}

input[type="password"],input[type="text"] {   
    padding: 10px;
    height: 3rem;
    margin-bottom: 10px;
    width: 300px;
    max-width: 20rem;
    min-width: 5rem;
    background-color: #121619;
    color: whitesmoke;
    font-size: 1.5rem;
    border-radius: 5px;
    border: solid white 1px;
}

input[type="text"]::placeholder{
    color: rgb(128, 128, 128);
}
@media screen and (max-width: 768px) {
    .container-account {
        grid-template-columns: 1fr;
        gap: 10px;
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;
    }

    .container-left-account{
        display: none; 
    }
}