@import url("/node_modules/bootstrap-icons/font/bootstrap-icons.css");
@import 'custom';

html, body {
    position: relative;
    height: 100% !important;
    margin: 0;
    padding: 0;
    min-width: 100vw;
    box-sizing: border-box;
    overflow-x: hidden;
}

button{
    font-family: "Afacad";
    font-size: 1.5rem;
    display: block;
    font-weight: 500;
    text-align: center;
    background-color: #BCB382;
    color:black;
    border-radius: 20px;
    margin: 10px auto;
    padding: 5px 15px;
}

#signout-btn{
    border-radius: 0;
    margin: 0;
    padding: 8px;
    background-color:#121619;
}

a{
    font-family: "Afacad", serif;
    font-weight: bold;
}

p {margin-bottom: 0px;}

.content{flex: 1;}

button:hover{background-color: #E5C687;}

body {
    display: flex;
    flex-direction: column;
    background-color: #262628;
    font-family: "Afacad", serif;
    color: white;
    width: 100%;
    height: 100%;
    min-height: 100vh;
}

.nav-link {font-size: 20px;}

footer {
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: 10px;
}

h1 {
    font-family: "Chakra Petch";
    margin: 20px;
    text-align: center;
    font-weight: bold;
    color: #E5C687;
}

h2{
    font-family: "Chakra Petch";
    text-align: center;
    color: #E5C687;
    font-size: 2.5rem;
}

.acces-link{
    color:#ffffff;
    text-decoration: none;
}
/* Accueil */
.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 10px;
    width: 100%;
    height: calc(100% - 68px) !important; 
    max-width: 100%;
    margin: 0;
}

@media screen and (max-width: 920px) {
    .container {
        grid-template-columns: 1fr;
        gap: 10px;
        width: 100%;
        padding: 0;
        margin: 0;
    }

    footer {
        margin-top: 30px;
    }

    .left, .right {
        margin: 0px;
        padding: 0;
        width: 100%;
        border-radius: 0;
    }

    .text-block, .right {
        padding: 0;
        border-radius: 0;
        width: 100%;
    }

    .carousel-block {
        padding: 0;
        width: 100%;
    }

    .carousel img {
        width: 100%;
        object-fit: cover;
        border-radius: 0;
    }

}

.left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 95%;

}

.text-block, .right {
    padding: 20px;
    border-radius: 5px;
    width: 100%;
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.3);
    position: relative;
    overflow: hidden;
}

.text-block {
    background-image: url(../Images/pexels-lanophotography.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
    margin-bottom: 10px;
}

.text-block::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    mix-blend-mode: darken;
    z-index: 1;
}

.text-block p {
    text-align: center;
    margin-bottom: 10px;
    font-size: 24px;
    position: relative;
    z-index: 2;
}

.carousel-block {
    padding: 0px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.3);
}
.carousel{
    position: relative;
    display: flex;
    align-items: center;

}
.carousel img {
    width: 100%;
    display: block;
    z-index: 0;
    height: 520px;
    object-fit: cover;
    border-radius: 5px;
}

#precedent,
#suivant {
    cursor: pointer;
    transition: opacity 0.3s ease;
    position: absolute;
    width: 30px;
    height: 30px;
    z-index: 1;
    opacity: 1;
    border-radius: 50%;
    background-color: rgba(187, 187, 187, 0.8);
    padding: 10px;
    margin: 5px;
}

#precedent {
    left: 0;
}

#suivant {
    right: 0;
}


.right {
    background-image: url(../Images/green.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
    height: 95%;
}

.event-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: auto;
    padding-right: 10px;
    box-sizing: border-box;
}

#viewDetails{
    color:#2D4739;
}


/* Liste évènement */
label {
    display: block;
    font-size: 1.5rem;
    color: #E5C687;
    padding: 0.1rem;
    margin-bottom: 0;
}

input, select {

    height: 2.5rem !important;
    margin-bottom: 10px !important;
    width: 20rem !important;
    background-color: #121619 !important;
    color: lightgray !important;
    font-size: 1.5rem !important;
    border-radius: 5px !important;
    border: solid white 1px !important;
}

select{
    color:rgb(204, 204, 204);
    padding: 0;
}

input[type="date"]::-webkit-calendar-picker-indicator,
input[type="time"]::-webkit-calendar-picker-indicator {
    background-color: #E5C687;
    border: none;
    padding: 0.3rem;
    border-radius: 5px;
}

.form-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    width: 100%;
    align-items: center;
    padding: 20px;
}

@media (max-width: 1120px) {
    .form-container {
        grid-template-columns: 1fr;
        justify-items: center;
        width: 100%;
        margin: auto;
    }

    label {
        margin-bottom: 0 !important;
        margin-left: 1rem;
        text-align: left;
    }

    input {
        margin-left: 0;
        margin-right: 0;
        width: 20rem;  
    }
}

.container-event {
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    justify-items: center;
}

.card {
    text-align: center;
    width: 330px;
    border: 1px solid #000000;
    background-color: #BCB382;
    color: black;
    border-radius: 5px;
    padding-bottom: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.3);
    font-size: 19px;
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card-content {
    padding: 0 10px ;
    justify-items: center;
}

h3 {
    font-family: "Chakra petch", sans-serif;
    font-size: 24px;
    margin: 0;
    font-weight: bold;
}

.card-content p {
    margin: 10px 0;
}

.card-divider{
    border: none;
    opacity: 1;
    border-radius: 5px;
    background-color: #2D4739;
    height: 5px;
    width: 90%;
    margin: 5px;
}

.view-details{
    color:#2D4739;
    font-weight: bold;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #000000;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    justify-items: center;
    align-items: center;
}
#eventModalLabel{ font-size: 24px !important;}
.modal.show {display: flex !important;}

body.modal-open {
    padding-right: 0 !important;
}


.modal-header{padding: 0;}

.modal-header img{
    width: 100%;
    border-radius: 10px ;
    height: 200px;
    object-fit: cover;
}

.modal-content {
    background: #BCB382;
    color: #000000;
    border-radius: 10px;
    max-height: 80vh;
    overflow-y: auto;
    color: #000000;    font-size: 1.2rem;
    width: 630px;
    position: relative;
}

.modal-body {
    color: #000000;
    padding-bottom: 10px;
    justify-items: center;
    align-items: center;
    align-content: center;
}

.modal-info{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    gap: 20px;
    margin: 20px;
    text-align: center;
}

#button-modal{
    font-family: "Afacad";
    font-size: 1.5rem;
    display: block;
    font-weight: 500;
    text-align: center;
    border: #000000 solid 1px;
    background-color: #2D4739;
    color: white;
    border-radius: 20px;
    overflow: visible;
    margin: 10px ;
    padding: 5px 15px;
    cursor: pointer;
}

#button-modal:hover{
    background-color: #E5C687;
    color: #000000;
}

.modal-divider{
    border: none;
    opacity: 1;
    border-radius: 5px;
    width: 500px;
    background-color: #2D4739;
    height: 5px;
    margin: 5px;
}

@media (max-width: 920px){

    .container-event{
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
    }

    .modal-body {
        color: #000000;
        padding-bottom: 10px;
        justify-items: center;
        align-items: center;
        align-content: center;
    }

    .modal-content{
        width: 100%;
        height: 100%;
    }
    .modal-divider{
        width: 90%;
    }
}

/* Connexion */
.container-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100vw;
    padding: 20px;
    margin-top: 10px;
    height: 100%;
    gap: 20px;
}

.container-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 5px;
    width: 100%;
    height: 80vh;
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.3);
}

.container-right{
    overflow: hidden;
    padding: 0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.3);
}
.container-right img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    object-fit: cover;
}

input[type="password"],input[type="email"] {   
    padding: 10px;
    height: 2.5rem;
    margin-bottom: 10px;
    width: 20rem;
    background-color: #121619;
    color: whitesmoke;
    font-size: 1.5rem;
    border-radius: 5px;
    border: solid white 1px;
}

input[type="email"]::placeholder{
    color: gray;
}
@media screen and (max-width: 920px) {
    .container-form {
        grid-template-columns: 1fr;
        gap: 10px;
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;
    }

    .container-left{
        box-shadow: none;
    }

    .container-right{
        display: none; 
    }
}

.invalid-feedback,
.valid-feedback {
  max-width: 20rem;
  text-align: center;
}

/* Gestion du compte */
.container-account {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    padding: 20px;
    margin-top: 10px;
    height: 100%;
    gap: 20px;
}
.container-right-account{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 5px;
    width: 100%;
    height: 80vh;
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.3);
}
.container-right-account form div {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container-left-account{
    overflow: hidden;
    height: 80vh;
    padding: 0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.3);
}
.container-left-account img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    object-fit: cover;
}

input[type="password"],input[type="text"] {   
    padding: 10px;
    height: 2.5rem;
    margin-bottom: 10px;
    width: 20rem;
    background-color: #121619;
    color: whitesmoke;
    font-size: 1.5rem;
    border-radius: 5px;
    border: solid white 1px;
}

input[type="text"]::placeholder{
    color: rgb(128, 128, 128);
}
@media screen and (max-width: 920px) {
    .container-account {
        grid-template-columns: 1fr;
        gap: 10px;
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;
    }

    .container-right-account{
        overflow: hidden;
        height: 100vh;
        box-shadow: none;
    }
    input[type="password"],input[type="text"] {   
        padding: 10px;
        height: 2.5rem;
        width: 20rem;
        margin-bottom: 10px;
        background-color: #121619;
        color: whitesmoke;
        font-size: 1.5rem;
        border-radius: 5px;
        border: solid white 1px;
    }


    .container-left-account{
        display: none; 
    }
}

/* Gestions des comptes */

.container-accounts {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    padding: 20px;
}

.container-accounts-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    width: 100%;
}

.field {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type="search"], select {
    width: 300px;
    height: 2.5rem;
}

.container-accounts-bottom {
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
}

.container-responses label {
    display: block;
    margin-bottom: 10px;
    font-size: 1.2rem;
}

.response {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.response-details {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 5px;
    padding: 20px;
}

.response-details span {
    font-size: 1.5rem;
    width: 20rem;
    text-align: left;
}

.divider {
    border: none;
    height: 4px;
    background-color: #E5C687;
    margin:  0;
}

.acces {
    text-decoration: none;
    color: black;
}

@media (max-width: 920px) {
    .container-accounts {
        padding: 10px;
    }

    .container-accounts-top {
        flex-direction: column;
        align-items: center;
        gap: 10px !important;
    }

    .field {
        align-items: center;
        margin-bottom: 1rem;
    }

    input[type="search"], select {
        width: 300px;
    }

    .response {
        flex-direction: column;
        justify-items: center;
        text-align: center;
        gap: 10px;
    }

    .response-details {
        flex-direction: column;
        padding: 10px;
        gap: 10px;
    }

    .response-details span {
        text-align: center;
        font-size: 1.2rem;
    }

    .acces-button {
        width: 100%;
    }

    .divider {
        height: 2px;
        margin:  0;
    }
}

/* Gestion d'un compte */
.container-useraccount{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 5px;
    width: 100%;
    height: 80vh;
}
.container-useraccount form div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Scores */
.container-scores {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    padding: 20px;
}

.container-scores-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    width: 100%;
    margin-bottom: 20px;
}

.field {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.response-global {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 5px;
    padding: 10px;
}

.score-global {
    font-size: 2rem;
}

.divider-global{
    border: none;
    height: 6px;
    background-color: #E5C687;
    margin: 0;
}
@media (max-width: 920px) {
    .container-scores {
        padding: 10px;
    }

    .container-scores-top {
        flex-direction: column;
        align-items: center;
    }

    .response-global {
        flex-direction: column;
        padding: 10px;
        gap: 10px;
    }

    .divider-global {
        height: 2px;
        margin:  0;
    }
}

/* Liste participant */

.checkbox-container {
    display: flex;
    align-items: center;
}

input[type="checkbox"] {
    display: none;
}

.checkbox-custom {
    width: 30px;
    height: 30px;
    border: 2px solid #df9800;
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 0;
}

input[type="checkbox"]:checked + .checkbox-custom {
    background-color: #df9800;
}

/* Contact */

.container-left-contact{
    align-items: center;
    justify-content: center;
}
.container-right-contact{
    justify-items: center !important;
    align-content: center !important;
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.3);
    padding: 20px;

}

.p-contact{
    text-align: center;
    padding: 20px;
    font-size: 1.5rem;
}

textarea {
    width: 30rem !important;
    height: 15rem !important;
    background-color: #121619 !important;
    border-radius: 5px !important;
    padding: 10px !important;
    font-size: 1.5rem !important;
    line-height: 1.2 !important;
    color: #ffffff !important;
    text-align: left !important;
    border: 1px solid #ffffff !important;
    border-radius: 5px !important;
    box-sizing: border-box !important;
    outline: none !important;
}

textarea::placeholder {
    color: gray;
    font-size: 1.5rem;
    text-align: left;
    line-height: 1.2;
}
.span-contact{
    color: #E5C687;
}
@media (max-width: 920px) {
    textarea {
        width: 20rem !important;
        height: 15rem !important;
        background-color: #121619 !important;
        border-radius: 5px !important;
        padding: 5px !important;
        font-size: 1.5rem !important;
        line-height: 1.2 !important;
        color: #ffffff !important;
        text-align: left !important;
        border: 1px solid #ffffff !important;
        border-radius: 5px !important;
        box-sizing: border-box !important;
        outline: none !important;
    }

    p.p-contact{
        padding: 0;
    }
}


/* Avis */

.rate {
    background-color: #121619;
    border: 1px solid #ffffff;
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 10px;
    height: 40px; 
    align-items: center;
    text-align: left;
    padding: 0 5px;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float: right;
    width: 1em;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 35px;
    color: #ffffff;
    line-height: 35px;
    transition: color 0.3s ease;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #fffb00;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #fffb00;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #fffb00;
}
.container-avis{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

#container-avis-top{
    gap: 120px !important;
}

.container-avis-textarea{
    justify-items: center;
}

@media (max-width: 920px){
    #container-avis-top{
        gap: 10px !important;
    }
    .form-container-avis{
        display: flex !important;
        flex-direction: column;
    }
    #message{
        width: 20rem !important;
    }
}
/* Création d'évènement */

.form-label{
    margin-bottom: 0;
}
#imageUpload{
    padding: 0;
}
input[type="file"]::-webkit-file-upload-button{
    margin: 0 !important;
    padding-top: 0px !important;
    border: 1px solid #ffffff !important;
    background-color: #121619 !important;
    color: #E5C687 !important;
}
.container-new-event-bottom{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 30px;
    width: 100%;
    justify-items: center;
    align-items: center;
}

@media (max-width: 920px) {
    .container-new-event-bottom {
        grid-template-columns: 1fr;
        padding: 20px;
        justify-items: center;
        align-items: center;
        gap: 20px;
    }
}

/* Mes inscriptions */

.button-modal{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    gap: 30px;
    padding: 20px
}

button:disabled {
    opacity: 0.5 !important;
    cursor: not-allowed !important;
}

/* Liste avis */

.form-container-avis {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    justify-items: center;
    width: 100vw;
    align-items: center;
    padding: 30px;
}

#rate-review{
    background-color: #cccccc00;
    border-radius: 0;
    border: none;
}

/* Validation */

.container-validation{
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    margin: 0 20px 0 0;
}

#container-validation-left{
    display: flex;
    width: 90%;
    margin: 0 0 0 20px ;
    flex-direction: column;
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.3);

}

#container-validation-right{
    display: flex;   
    width: 90%;
    height: 100%;
    flex-direction: column;
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.3);
    overflow-y: auto;

}

.card-validation {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: left;
    width: 100%;
    border: 1px solid #000000;
    background-color: #BCB382;
    color: black;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.3);
    font-size: 19px;
    margin-bottom: 20px;
    height: auto;
}

h3{
    font-family: "Chakra petch", sans-serif;
    font-size: 28px;
    text-align: center;
    padding: 5px;
}

.card-validation img{
    width: 100%;
    height: 100%;
    max-height: 250px;
    object-fit: cover;
}

.card-content-validation {
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
    padding: 5px;
    gap: 10px;
    height: 100%;
}

@media (max-width: 1550px) {
    .container-validation {
        grid-template-columns: 1fr;
        padding: 20px;
        justify-items: center;
        align-items: center;
        gap: 20px;
    }
    #container-validation-right{
        margin-left: 20px;
    }
    .card-validation {
        font-size: 16px;
        height: auto;
        max-width: 100%;
    }
    
    .card-content-validation {
        gap: 10px;
    }
}

@media (min-width: 1551px) {
    .container-validation {
        grid-template-columns: repeat(2, 1fr);
        padding: 20px;
        justify-items: center;
        gap: 20px;
    }
    
    .card-validation {
        font-size: 19px;
        height: auto;
        max-width: 100%;
    }

    .card-content-validation {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        gap: 10px;
    }
}

/* Dashboard */

.container-resultat{
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-items: center;
    gap: 20px;
    width: 100%;
    padding: 20px;
}

#stats-section{
    padding: 10px;
    justify-items: center;
}

.message{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 10px;
}
#histogram{
    box-sizing: border-box;
    display: block;
    max-width: 800px;
    max-height: 400px;
    font-size: 1.5rem;
}

#messages-container{
    display: flex;
    flex-direction: row;
}

@media (max-width: 920px) {
    #filter-type-div{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}


/* Jeu du yams */


.game-container {
    margin-top: 50px;
    width: 100%;
    height: fit-content;
}
h1 {
    font-size: 3rem;
    margin-bottom: 10px;
}

#exitGame{
    display: flex;
    margin: 10px;
}

.dice-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
}

.dice {
    width: 80px;
    height: 80px;
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    border-radius: 10px;
    border: #ffffff solid 1px;
    color: #fff;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.dice.selected {
    background-color: #2D4739;
}


#rollButton {
    background-color: #444;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.5rem;
    transition: background-color 0.3s ease;
}

#rollButton:hover {
    background-color: #555;
}

.score-board {
    margin-top: 30px;
    font-size: 1.5rem;
}


/* Pendu */

.game-container {
    max-width: 500px;
    margin: auto;
    padding: 20px;
    background-color: #333;
    border-radius: 10px;
}

#wordDisplay {
    font-size: 40px;
    margin-bottom: 20px;
}

#attemptsLeft {
    font-size: 20px;
    margin-bottom: 20px;
}

#hangmanDrawing {
    margin-bottom: 20px;
    font-size: 30px;
}

#letters {
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

#resetButton {
    padding: 10px 20px;
    background-color: #ff6f61;
    border: none;
    color: white;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px;
}

#resetButton:hover {
    background-color: #ff3b2b;
}

/* Mes évènements */

#searchButton, .searchButton{
    margin-bottom: 0;
    margin-top: 20px;
}
.button-card{
    align-content: center;
    justify-items: center;
}

#card-button{
    align-self: center ;
    font-family: "Afacad";
    font-size: 1.5rem;
    display: block;
    font-weight: 500;
    text-align: center;
    border: #000000 solid 1px;
    background-color: #2D4739;
    color: white;
    border-radius: 20px;
    text-decoration: none;
    overflow: visible;
    margin: 10px ;
    padding: 5px 15px;
    cursor: pointer;
}

#card-button:hover{
    background-color: #E5C687;
    border: #000000 solid 2px;
    color: #000000;
}

#saveChangesButton{
    font-family: "Afacad";
    font-size: 1.5rem;
    display: block;
    font-weight: 500;
    text-align: center;
    border: #000000 solid 1px;
    background-color: #2D4739;
    color: white;
    border-radius: 20px;
    overflow: visible;
    margin: 10px ;
    padding: 5px 15px;
    cursor: pointer;
}

#editDescription{
    width: 20rem !important;
}
#saveChangesButton:hover{
    background-color: #E5C687;
    color: #000000;
}
#label-edit{
    color: #000000;
    font-weight: 500;
}
#editImage{
    padding: 0 !important;
    border: 0 !important;
}
.modal-header{
    padding:5px;
}
.modal-footer{
    justify-content: center;
}



